
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #fefefe; 
    padding: 10px 0;
    
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    border-style: ridge;
    position: relative; 
}

nav ul li {
    display: inline-block;
    margin: 0 10px; 
    position: relative; 
}

nav ul li img {
    position: absolute; 
    top: 50%; 
    transform: translateY(-36%); 
    z-index: 2; 
}

nav ul li a {
    color: #000000; 
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    position: relative; 
}

  nav ul li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom: 2px solid #028f00;
    border-radius: 40px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: 0.5s;
  }


  .banner img{
    float: left;
  }
  
  .banner {
    display:inline-block;
    *display:inline;
  }
  
section {
    padding: 20px;
}

.studieinfo {
    background-color: #48acec; /* Dark blue */
    text-align: center;
}

.sourcebutton {
    background-color: #FFFFFF; /* White */
    color: #00478B; /* Dark blue */
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.robo-ethiek {
    background-color: #FFFFFF; /* White */
    color: #000000; /* Black */
    padding: 20px;
}

.imgleft {
    float: left;
    margin-right: 20px;
}

.imgright {
    float: right;
    margin-left: 20px;
}


.row {
    display: flex;
}

#googleMap {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Aspect ratio (16:9) */
}

#googleMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


