html,
body {
  width: 100%;
  height: max(100%, fit-content);
  margin: 0;
  font-size: 20px;
}

body {
  background-color: #e8e8e8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  margin: 0.5em 0;
  font-family: monospace;
  line-height: 1em;
}

nav {
  ul {
    display: flex;
    padding: 0;
    margin: 0.5rem;

    li {
      display: flex;
      position: relative;

      a {
        display: inline-block;
        padding: 1rem;
        color: #fff;
      }
    }
  }

  .main-menu {
    ul > li > a {
      text-decoration: none;

      &:hover {
        background-color: #fff3;
      }
    }
  }

  .user-menu {
    ul > li {
      &:first-of-type::after {
        content: "|";
        margin-top: 1rem;
        color: #fff;
        opacity: 0.5;
      }
      a:hover {
        color: #0ae;
      }
    }
  }
}

#banner {
  justify-content: center;
  align-items: center;
  padding: clamp(5rem, 20vh, 15rem) clamp(1rem, 5vw, 5rem)
    clamp(1rem, 5vw, 5rem);

  .content {
    width: clamp(20rem, 20vw, 100%);
    background-color: #000d;
    color: #fff;

    button {
      padding: 0.5rem;
      background-color: #0ae;
      font-weight: bold;
      border: none;
      color: #fff;
    }
  }

  &.jc-center div.content {
    text-align: center;
    align-items: center;
  }

  &.jc-flex-start div.content {
    text-align: left;
    align-items: flex-start;
  }

  &.jc-flex-end div.content {
    text-align: right;
    align-items: flex-end;
  }
}

main {
  height: 200vh;
}
